.header body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}
.header .stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}
.header .star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .header .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.header .star:nth-child(1) {
  --star-tail-length: 5.26em;
  --top-offset: 94.75vh;
  --fall-duration: 10.13s;
  --fall-delay: 2.384s;
}
.header .star:nth-child(2) {
  --star-tail-length: 6.87em;
  --top-offset: 26.9vh;
  --fall-duration: 6.115s;
  --fall-delay: 4.478s;
}
.header .star:nth-child(3) {
  --star-tail-length: 6.85em;
  --top-offset: 68.91vh;
  --fall-duration: 8.036s;
  --fall-delay: 1.231s;
}
.header .star:nth-child(4) {
  --star-tail-length: 6.43em;
  --top-offset: 90.19vh;
  --fall-duration: 6.187s;
  --fall-delay: 8.704s;
}
.header .star:nth-child(5) {
  --star-tail-length: 6.76em;
  --top-offset: 96.32vh;
  --fall-duration: 11.478s;
  --fall-delay: 3.458s;
}
.header .star:nth-child(6) {
  --star-tail-length: 6.92em;
  --top-offset: 78.36vh;
  --fall-duration: 9.817s;
  --fall-delay: 7.921s;
}
.header .star:nth-child(7) {
  --star-tail-length: 5.77em;
  --top-offset: 85.88vh;
  --fall-duration: 6.532s;
  --fall-delay: 1.929s;
}
.header .star:nth-child(8) {
  --star-tail-length: 5.57em;
  --top-offset: 70.39vh;
  --fall-duration: 7.064s;
  --fall-delay: 3.955s;
}
.header .star:nth-child(9) {
  --star-tail-length: 5.92em;
  --top-offset: 46.84vh;
  --fall-duration: 10.213s;
  --fall-delay: 4.926s;
}
.header .star:nth-child(10) {
  --star-tail-length: 5.7em;
  --top-offset: 43.2vh;
  --fall-duration: 8.767s;
  --fall-delay: 3.439s;
}
.header .star:nth-child(11) {
  --star-tail-length: 6.12em;
  --top-offset: 37.93vh;
  --fall-duration: 7.433s;
  --fall-delay: 0.219s;
}
.header .star:nth-child(12) {
  --star-tail-length: 5.7em;
  --top-offset: 62.91vh;
  --fall-duration: 8.427s;
  --fall-delay: 9.838s;
}
.header .star:nth-child(13) {
  --star-tail-length: 6.14em;
  --top-offset: 42.4vh;
  --fall-duration: 11.431s;
  --fall-delay: 6.931s;
}
.header .star:nth-child(14) {
  --star-tail-length: 7.26em;
  --top-offset: 92.48vh;
  --fall-duration: 11.161s;
  --fall-delay: 3s;
}
.header .star:nth-child(15) {
  --star-tail-length: 6.13em;
  --top-offset: 20.3vh;
  --fall-duration: 6.707s;
  --fall-delay: 9.19s;
}
.header .star:nth-child(16) {
  --star-tail-length: 6.49em;
  --top-offset: 18.29vh;
  --fall-duration: 6.196s;
  --fall-delay: 5.618s;
}
.header .star:nth-child(17) {
  --star-tail-length: 6.51em;
  --top-offset: 17.48vh;
  --fall-duration: 10.148s;
  --fall-delay: 4.3s;
}
.header .star:nth-child(18) {
  --star-tail-length: 5.22em;
  --top-offset: 81.03vh;
  --fall-duration: 6.135s;
  --fall-delay: 3.951s;
}
.header .star:nth-child(19) {
  --star-tail-length: 6.99em;
  --top-offset: 66.79vh;
  --fall-duration: 11.215s;
  --fall-delay: 8.416s;
}
.header .star:nth-child(20) {
  --star-tail-length: 6.26em;
  --top-offset: 5.22vh;
  --fall-duration: 8.304s;
  --fall-delay: 1.917s;
}
.header .star:nth-child(21) {
  --star-tail-length: 7.25em;
  --top-offset: 62.38vh;
  --fall-duration: 10.414s;
  --fall-delay: 1.613s;
}
.header .star:nth-child(22) {
  --star-tail-length: 6.7em;
  --top-offset: 46.48vh;
  --fall-duration: 7.352s;
  --fall-delay: 7.234s;
}
.header .star:nth-child(23) {
  --star-tail-length: 5.65em;
  --top-offset: 57.15vh;
  --fall-duration: 9.854s;
  --fall-delay: 5.589s;
}
.header .star:nth-child(24) {
  --star-tail-length: 7.17em;
  --top-offset: 42.22vh;
  --fall-duration: 8.159s;
  --fall-delay: 3.02s;
}
.header .star:nth-child(25) {
  --star-tail-length: 5.4em;
  --top-offset: 37.57vh;
  --fall-duration: 11.505s;
  --fall-delay: 1.841s;
}
.header .star:nth-child(26) {
  --star-tail-length: 5.53em;
  --top-offset: 60.03vh;
  --fall-duration: 10.236s;
  --fall-delay: 7.297s;
}
.header .star:nth-child(27) {
  --star-tail-length: 6.38em;
  --top-offset: 93.85vh;
  --fall-duration: 6.847s;
  --fall-delay: 0.275s;
}
.header .star:nth-child(28) {
  --star-tail-length: 6.1em;
  --top-offset: 69.96vh;
  --fall-duration: 8.001s;
  --fall-delay: 5.193s;
}
.header .star:nth-child(29) {
  --star-tail-length: 6.48em;
  --top-offset: 61.17vh;
  --fall-duration: 8.011s;
  --fall-delay: 8.481s;
}
.header .star:nth-child(30) {
  --star-tail-length: 7.01em;
  --top-offset: 97.38vh;
  --fall-duration: 11.173s;
  --fall-delay: 3.271s;
}
.header .star:nth-child(31) {
  --star-tail-length: 5.74em;
  --top-offset: 58.89vh;
  --fall-duration: 6.313s;
  --fall-delay: 4.95s;
}
.header .star:nth-child(32) {
  --star-tail-length: 5.31em;
  --top-offset: 45.3vh;
  --fall-duration: 11.107s;
  --fall-delay: 6.744s;
}
.header .star:nth-child(33) {
  --star-tail-length: 6.55em;
  --top-offset: 81.49vh;
  --fall-duration: 7.569s;
  --fall-delay: 3.829s;
}
.header .star:nth-child(34) {
  --star-tail-length: 5.26em;
  --top-offset: 7.7vh;
  --fall-duration: 9.565s;
  --fall-delay: 2.675s;
}
.header .star:nth-child(35) {
  --star-tail-length: 6.77em;
  --top-offset: 83.07vh;
  --fall-duration: 7.163s;
  --fall-delay: 0.748s;
}
.header .star:nth-child(36) {
  --star-tail-length: 6.71em;
  --top-offset: 64.42vh;
  --fall-duration: 7.284s;
  --fall-delay: 6.66s;
}
.header .star:nth-child(37) {
  --star-tail-length: 6.2em;
  --top-offset: 77.93vh;
  --fall-duration: 9.411s;
  --fall-delay: 7.905s;
}
.header .star:nth-child(38) {
  --star-tail-length: 5.72em;
  --top-offset: 12.76vh;
  --fall-duration: 6.437s;
  --fall-delay: 6.008s;
}
.header .star:nth-child(39) {
  --star-tail-length: 6.24em;
  --top-offset: 6.75vh;
  --fall-duration: 11.355s;
  --fall-delay: 2.154s;
}
.header .star:nth-child(40) {
  --star-tail-length: 7.07em;
  --top-offset: 75.57vh;
  --fall-duration: 9.931s;
  --fall-delay: 7.254s;
}
.header .star:nth-child(41) {
  --star-tail-length: 5.19em;
  --top-offset: 19.72vh;
  --fall-duration: 6.85s;
  --fall-delay: 4.873s;
}
.header .star:nth-child(42) {
  --star-tail-length: 5.8em;
  --top-offset: 28.94vh;
  --fall-duration: 10.081s;
  --fall-delay: 8.34s;
}
.header .star:nth-child(43) {
  --star-tail-length: 5.14em;
  --top-offset: 58.45vh;
  --fall-duration: 6.739s;
  --fall-delay: 3.655s;
}
.header .star:nth-child(44) {
  --star-tail-length: 5.39em;
  --top-offset: 82.68vh;
  --fall-duration: 10.089s;
  --fall-delay: 1.099s;
}
.header .star:nth-child(45) {
  --star-tail-length: 6.25em;
  --top-offset: 19.64vh;
  --fall-duration: 9.529s;
  --fall-delay: 5.663s;
}
.header .star:nth-child(46) {
  --star-tail-length: 5.49em;
  --top-offset: 66.4vh;
  --fall-duration: 10.908s;
  --fall-delay: 4.397s;
}
.header .star:nth-child(47) {
  --star-tail-length: 5.79em;
  --top-offset: 15.32vh;
  --fall-duration: 7.855s;
  --fall-delay: 6.748s;
}
.header .star:nth-child(48) {
  --star-tail-length: 6.4em;
  --top-offset: 41.96vh;
  --fall-duration: 10.158s;
  --fall-delay: 4.559s;
}
.header .star:nth-child(49) {
  --star-tail-length: 5.31em;
  --top-offset: 15.84vh;
  --fall-duration: 6.648s;
  --fall-delay: 7.369s;
}
.header .star:nth-child(50) {
  --star-tail-length: 7.19em;
  --top-offset: 69.59vh;
  --fall-duration: 7.132s;
  --fall-delay: 0.09s;
}
.header .star::before, .header .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}
.header .star::before {
  transform: rotate(45deg);
}
.header .star::after {
  transform: rotate(-45deg);
}
@-webkit-keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.header .custom-shape-divider-top-1636063611 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.header .header__titulo {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 0.8rem;
}
.header .header__mail {
  font-size: 0.9rem;
  margin-left: 1rem;
}

.main {
  width: 60%;
  margin: auto;
}
.main .main__titulo {
  text-align: center;
}
.main .almost {
  font-weight: 600;
}
.main .bold {
  font-weight: 900;
  text-align: end;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  letter-spacing: 0.5px;
}
body li {
  list-style-type: none;
  margin-bottom: 30px;
}

.footer {
  padding: 4rem 0;
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.footer .icon {
  width: 30px;
  transition: all 1s ease-in;
}
.footer .icon:hover {
  transform: rotate(1turn);
}

@media only screen and (max-width: 600px) {
  body {
    background-position: center;
  }
  body .main {
    width: 100%;
    margin: auto;
  }
  body .main li {
    position: relative;
    right: 20px;
  }
}/*# sourceMappingURL=style.css.map */