body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}