.header{
    .custom-shape-divider-top-1636063611 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .header__titulo{
        font-size: 24px;
        font-weight: 900;
        line-height: 3px;
    }
        .header__mail{
            font-size: 12px;
        }
    }
