.main{
    .main__titulo{
        text-align: center;
    }
    .custom-shape-divider-top-1636063611 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
}