.main{
    width: 60%;
    margin: auto;
       .main__titulo{
           text-align: center;
    }
    .almost{
        font-weight: 600;
    }
    .bold{
        font-weight: 900;
        text-align: end;
    }
    }
    
