@media only screen and (max-width: 600px) {
    body{
        background-position: center;
    .main{
        width: 100%;
        margin: auto;
        li{
            position: relative;
            right: 20px;
        }
    }
  }
}